In [6]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics

In [7]:
df = pd.read_csv('golf_df.csv')
df.head()

    Outlook Temperature Humidity  Windy Play
0     sunny         hot     high  False   no
1     sunny         hot     high   True   no
2  overcast         hot     high  False  yes
3     rainy        mild     high  False  yes
4     rainy        cool   normal  False  yes

In [13]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df[ 'Play'] = le.fit_transform(df['Play'])
df[ 'Outlook'] = le.fit_transform(df['Outlook'])
df[ 'Temperature'] = le.fit_transform(df['Temperature'])
df[ 'Humidity'] = le.fit_transform(df['Humidity'])
df[ 'Windy'] = le.fit_transform(df['Windy'])
df.head()

   Outlook  Temperature  Humidity  Windy  Play
0        2            1         0      0     0
1        2            1         0      1     0
2        0            1         0      0     1
3        1            2         0      0     1
4        1            0         1      0     1

In [14]:
x =df.drop(['Play'], axis=1).values
y = df['Play'].values

In [15]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.4, random_state=1)

In [16]:
model = GaussianNB()
model.fit(x_train, y_train)

GaussianNB()

In [18]:
# making predictions on the testing set
y_pred = model.predict(x_test)

In [19]:
# comparing actual response values (y_test) with predicted response values (y_pred)
print("Gaussian Naive Bayes model accuracy(in %):", metrics.accuracy_score(y_test, y_pred)*100)

Gaussian Naive Bayes model accuracy(in %): 83.33333333333334