In [18]:
import pandas as pd
df=pd.read_csv('book.csv')
df

   size  no_of_bedroom  no_of_floor  age_of_home  price
0  2104              5            1           45    460
1  1416              3            2           40    232
2  1534              3            2           30    315
3   852              2            1           36    178

In [20]:
import pandas as pd
from sklearn.linear_model import LinearRegression
X = df[['size', 'no_of_bedroom', 'no_of_floor', 'age_of_home']]
y = df['price']
# Create and fit the model
model = LinearRegression()
model.fit(X, y)

# Get the coefficients
intercept = model.intercept_
coefficients = model.coef_

# Output the results
print(f'Intercept (β0): {intercept}')
print(f'Coefficients (β1, β2, β3, β4): {coefficients}')

Intercept (β0): 225.4816273709544
Coefficients (β1, β2, β3, β4): [  0.2124258   22.72775806 -65.36240894  -5.79337552]

In [21]:
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

# Predict the target values using the model
y_pred = model.predict(X)

# Calculate Mean Squared Error (MSE)
mse = mean_squared_error(y, y_pred)

# Calculate Root Mean Squared Error (RMSE)
rmse = np.sqrt(mse)

# Calculate R-squared (R²)
r2 = r2_score(y, y_pred)

# Output the metrics
print(f'Mean Squared Error (MSE): {mse}')
print(f'Root Mean Squared Error (RMSE): {rmse}')
print(f'R-squared (R²): {r2}')

Mean Squared Error (MSE): 6.3799535917420045e-24
Root Mean Squared Error (RMSE): 2.5258570014436695e-12
R-squared (R²): 1.0